
<ion-header>

  <ion-navbar>
    <ion-title>VokabelPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-item>
    <ion-label fixed>Original:</ion-label>
    <ion-input type="text" [(ngModel)]="orig"></ion-input>
  </ion-item>
    <ion-item>
    <ion-label fixed>Zusatz:</ion-label>
    <ion-input type="text" [(ngModel)]="zusatz"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed>Übersetzung:</ion-label>
    <ion-input type="text" [(ngModel)]="trans"></ion-input>
  </ion-item>
  <ion-item>
    <button ion-button round (click)="save()">Speichern</button>
  </ion-item>
</ion-list>
</ion-content>
