
<ion-header>

  <ion-navbar>
    <ion-title>Lektion {{lektionName}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="newVokabel()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let vokabel of vokabelListe">
      <ion-item-options>
        <button ion-button icon-only color="danger" (click)="delete(vokabel)">
          <ion-icon name="trash"></ion-icon> 
          Löschen
        </button>
      </ion-item-options>
      <button  ion-item (click)="showVokabel(vokabel)">
        <ion-grid>
          <ion-row>
            <ion-col width-50>{{vokabel.original}}</ion-col>
            <ion-col width-50>{{vokabel.translation}}</ion-col>
          </ion-row>
        </ion-grid>
        
      </button>
      <ion-item-options>
        <button ion-button icon-only color="danger" (click)="delete(vokabel)">
          <ion-icon name="trash"></ion-icon> 
          Löschen
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
