<ion-header>
  <ion-navbar>
    <ion-title>
      Ninas Vokabel-App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
    Anzahl Lektionen: {{anzahlLektionen}}<hr>
    <button ion-button block (click)="showLektionList()">Lektion auswählen</button>
    Aktuelle Lektion: {{currentLektionName}}<br>
    Derzeit sind {{vokabelInLektion}} Vokabel gespeichert.
  
  <button ion-button block (click)="showList()">Vokabel ansehen</button>
  <hr>
  <p>Vokabeltest für {{currentLektionName}}:</p>
  <button ion-button round (click)="showTest()">Test starten...</button>
  <button ion-button round (click)="resetTest()">Test reseten</button>
</ion-content>
