<!--
  Generated template for the SektionList page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lektionen</ion-title>
        <ion-buttons end>
          <button ion-button icon-only (click)="newLektion()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
 <ion-list>
    <ion-item-sliding *ngFor="let lektion of lektionListe">
      <ion-item-options>
        <button ion-button icon-only color="danger" (click)="delete(lektion)">
          <ion-icon name="trash"></ion-icon> 
          Löschen
        </button>
      </ion-item-options>
      <ion-item>
        {{lektion.name}}
        <button ion-button outline item-right (click)="showLektion(lektion)">
          Ändern
        </button>
        <button ion-button outline item-right (click)="ActivateLektion(lektion)">
          Aktiviere
        </button>
      </ion-item>
      
      <ion-item-options>
        <button ion-button icon-only color="danger" (click)="delete(lektion)">
          <ion-icon name="trash"></ion-icon> 
          Löschen
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
