<!--
  Generated template for the Lektion page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lektion</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label fixed>Name:</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <button ion-button round (click)="save()">Speichern</button>
    </ion-item>
    <section *ngIf="mode=='new'">
      <ion-item>
        <button ion-button round (click)="import()">Importiere JSON</button>
      </ion-item>
      <ion-item>
        <ion-label>{{message}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-textarea rows="6" placeholder="kopiere das JSON hier rein..." [(ngModel)]="json"></ion-textarea>
      </ion-item>
      
    </section>
  </ion-list>
</ion-content>
