<!--
  Generated template for the FlashCard component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div class="flip-container" (click)="flip()" [class.flipped]="flipped">
 
    <div class="flipper">
 
        <div class="front">
            <ng-content select=".flash-card-front"></ng-content>
        </div>
 
        <div class="back">
            <ng-content select=".flash-card-back"></ng-content>
        </div>
 
    </div>
 
</div>


