
<ion-header>

  <ion-navbar>
    <ion-title>Test für {{lektionName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  Offene Vokabel: {{testVokabel.length}} von {{gesamtAnzahl}}
  <hr>
  <section *ngIf="mode<=1">
    <p class="vokabel">{{currentVokabel.original}}</p>
    <button ion-button block (click)="mode=1;">Aufdecken</button>
  </section>
  <section *ngIf="mode==1">
    <p class="vokabel">{{currentVokabel.zusatz}}</p>
    <p class="vokabel">{{currentVokabel.translation}}</p>
    <button ion-button round (click)="setKnown()">Ich habs gewusst</button>
    <button ion-button round (click)="getNext()">Oje, das war nix</button>
  </section>
  <section *ngIf="mode==2">
    <p> Fertig!</p>
  </section>
</ion-content>
